* {
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  margin: 30px;
}
.select {
  width: 100px;
  height: 30px;
  padding-left: 6px;
}
.minus, .add {
  width: 30px;
  height: 30px;
}
.single {
  width: 40px;
  height: 28px;
  padding-left: 6px;
}
.input {
  display: inline-block;
  width: 30px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  vertical-align: middle;
  border: 1px solid #999;
}
.increase {
  width: 60px;
  height: 30px;
}
.ul {
  width: 35%;
  height: 400px;
  border: 1px;
  padding: 0;
  margin: 30px;
}
.li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  height: 30px;
  border: 1px solid #999;
  margin-bottom: 10px;
  box-shadow: 2px 3px 3px #ccc;
  line-height: 30px;
}
.singleName {
  font-size: 12px;
}
